* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0b1e2d;
  color: white;
}

main {
  padding: 40px;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}
